$serif-font: 'Playfair Display', serif;

.results-container {
    font-family: var(--serif-font);
    width: 50%;
    margin: 0 auto;
    text-align: center;

    .results-title {
        font-size: 28px;
        font-weight: 400;
        margin: 50px 0 0 0;
    }

    .wpm {
        font-size: 38px;
        font-weight: 700;
        margin: 0;
        color: #ff4d4d;
        background: -webkit-linear-gradient(left, #ff4d4d, #ffa44f, #ff4d4d);
        background-size: 1600px 200px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-duration: 3s;
        animation-name: WPMGradient;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
    }

    @keyframes WPMGradient {
        0% {
            background-position: 0 1600px;
        }
        100% {
            background-position: 1600px 0;
        }
    }

    .results {
        display: flex;
        justify-content: space-around;
        margin: 50px;

        h2 {
            font-size: 32px;
        }

        h3 {
            font-family: var(--sans-font);
            font-weight: 400;
            opacity: .5;
        }
    }

    .restart {
        // must use inline-block due to the h1 having an onHover, as block takes up a whole row
        display: inline-block;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
        padding: 20px;
        cursor: pointer;

        &:hover {
            .arrow {
                opacity: .75;
                transform: translateX(20px);
            }
        }

        .arrow {
            opacity: 0;
            transform: translateX(-25px);
            transition: all .2s ease-out;
        }
    }
}