.word-box {
    height: 150px;
    line-height: 50px;
    padding: 15px;
    font-size: 24px;
    text-align: center;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    @media screen and (min-width: 1920px) {
        font-size: 28px;
    }

    div {
        border-radius: 3.33px;
        display: inline-block;
        padding: 0 10px;
    }

    .active {
        background-color: #67bf6d;
        color: white;
        border: 1px solid #18301a;
    }

    .correct {
        color: #67bf6d;
    }

    .mistake {
        color: #d4464d;
    }
}