.stats-container {
    background-color: #0d1016;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;

    .custom-btn {
        display: block;
        position: absolute;
    }

    div {
        text-align: center;

        h1 {
            font-family: 'Playfair Display', serif;
            font-size: 28px;
            opacity: .3;
        }

        h2 {
            font-size: 14px;
            line-height: 0;
            opacity: .25;
            font-weight: 400;
            padding: 5px;
        }
    }
}