@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

:root {
    --bg-color: #0d1117;
    --text-color: #ffffff;
    --title-font: 'Source Sans Pro', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--title-font);
}

.app {
    padding: 75px 150px;
}

.title {
    text-align: center;
    font-weight: 600;
}

.heading {
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    opacity: .9;
}

.box {
    border-radius: 5px;
    background-color: #161b24;
    width: 50%;
    margin: 75px auto;
}