@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,900&display=swap');

:root {
    --bg-color: #0d1117;
    --text-color: #ffffff;
    --sans-font: 'Source Sans Pro', sans-serif;
    --serif-font: 'Playfair Display', serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--sans-font);

    .app {
        padding: 75px 150px;

        .title {
            font-family: var(--serif-font);
            text-align: center;
            font-weight: 600;
        }

        .heading {
            font-size: 21px;
            font-family: var(--serif-font);
            font-weight: 400;
            width: 50%;
            margin: 0 auto;
            text-align: center;
            opacity: .75;
        }
        
        .box {
            border-radius: 5px;
            background-color: #161b24;
            width: 50%;
            margin: 75px auto;
        }

    }
}