.input-box {
    text-align: center;

    .user-input {
        background-color: #0d1016;
        width: 96.5%;
        padding: 15px;
        border: none;
        text-align: center;
        color: white;
        font-size: 28px;
    }
}